# Environment
.env
.env.local
.env.production
.env.staging

# Testing & experiments
/testing

# Dependencies
node_modules

# Build outputs
.next
dist
.turbo
out
*.tsbuildinfo

# Prisma
packages/db/migrations/**/migration_lock.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Python
__pycache__
*.pyc
.venv
venv

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
